

.container{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;



 .dashbaordnav{
    .sidenav{
        margin-left: 0PX;
        height: 100vh;
        background-color: #FFFFFF;
    }
 }

 .header{
    position: absolute;
    display: flex;
 }
}
