<div class="sidenav">
    <div class="logo">
        <img class="bumpielogo" src='assets/Bumpie.png'>
    </div>

    <div class="navitems">
        <div class="navitem" href="/growthcycle" routerLink="/growthcycle" [routerLinkActive]="['is-active']">
            <span>Growth Cycle</span>
        </div>
        <div class="navitem" href="/guidelines" routerLink="/guidelines" [routerLinkActive]="['is-active']">
            <span>Guidelines</span>
        </div>
        <div class="navitem" href="/createpost" routerLink="/createpost" [routerLinkActive]="['is-active']"><span>Create
                Article</span></div>
    </div>
</div>