.form {
    position: absolute;
    width: 994px;
    height: 1221px;
    left: 343px;
    top: 100px;
}

.btn-success {
    margin-top: 12px;
    background-color: #FFA8C2;
    border-color: #FFA8C2;
    padding: 8px 28px;
}